
.one{
  text-align:center;
	font-family: Sans-serif;
	margin-top: 20px;
}

#box1, #box2, #box3{
	width:30%;
	height:auto;
	margin:1%;
	margin-top: 0px;
	border-style: solid;
	display: inline-block;
	font-family: Sans-serif;
}

#box1, #box2, #box3  {
background-color: #bab5b5;
}

#chick{
	text-align: center;
	background-color: tomato;
	width: 30%;
	border-style: solid;
	font-size: larger;
	height: 23px;
	margin-left: auto;
	margin-right: 0px;
	border-style: none;
	border-left-style: solid;
	border-bottom-style: solid;	
}
#beef{
	text-align: center;
	margin: 0px;
	background-color: red;
	text-decoration: none;
	color: white;
	width: 30%;
	font-size: larger;
	border-style: solid;
	border-color: black;
	height: 23px;
	margin-left: auto;
	margin-right: 0px;
	border-style: none;
	border-left-style: solid;
	border-bottom-style: solid;
}
#sushi{
	text-align: center;
	margin: 0px;
	background-color: gold;
	width: 30%;
	border-style: solid;
	font-size: larger;
	height: 23px;
	margin-left: auto;
	margin-right: 0px;
	border-style: none;
	border-left-style: solid;
	border-bottom-style: solid;
}
#text{
	color: black;
	margin: 10px;
}